body{
    background-image: url(back_image8.jpg);
    background-size: cover;
}

.p1{
    text-align:center;
    color:aliceblue;
}

h1{
    text-align: center;
    letter-spacing: 8px;
    
}

.sample h1{
    font-family: sans-serif;
    font-weight: 900;
    color: #0e3742;
    text-align: center;
    letter-spacing: 15px;
    -webkit-box-reflect: below 1px linear-gradiant(transparent,#0004);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
        color:goldenrod;
        text-shadow: none;
    }

    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: #fff;
        text-shadow: 0 0 10px #f0f403,
        0 0 20px #f0f403,
        0 0 40px #f0f403,
        0 0 80px #f0f403,
        0 0 100px #f0f403;
    }
}

nav ul{
    display: flex;
    justify-content: center;
    align-items:flex-end;
   
}

nav ul a{
    padding: 0.5rem 1.5rem;
    margin: 3px;
    text-decoration: none;
    color:azure;
    font-size: 16px;
    font-family:cursive;
    text-transform: uppercase;
}

nav ul li{
    list-style: none;
}

.active{
    color: #ec4141;
    border-bottom:2px solid #ec4141;
}

nav ul a:hover{
    color: #ec4141;
    border-bottom:2px solid #ec4141;
}

.header-container{

    width: 40%;
    position: relative;
    top: 30%;
    left: 2rem;
}

.header-container h1{
    color: white;
    font-family:sans-serif;
    font-size: 50px;
}

.header-container h1 .border-container{
    border-bottom:2px solid #ec4141;
}

.text-primary{
    color: #ec4141;
}

.border-bottom{
    color:bisque;
}

.header-container p{
    width: 100%;
    margin-top: 2rem;
    color: white;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button{
    position:fixed;
    text-align: center;
    width: 100px;
    padding: 40px;
    font-size: 35px;
    color: white;
    font-family: poppins;
    font-weight: 400;
    border: 5px solid #ec4141;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 100px;
    transition: 1.5s;
}

.button:hover{
    box-shadow:0 5px 50px 0 #ec4141 inset, 0 5px 50px 0 #ec4141;
}

